<div class="h-screen-dinamic home--container">
  <section class="home">
    <div class="home__feed">
      <div class="w-full max-w-sm">
        <h1 class="home__title">The most awesone cast</h1>
        <p class="mb-8 xl:text-xl">Explore and know all breeds about cats</p>
        <a
          routerLink="/breeds"
          class="block max-w-xs px-4 py-3 mx-auto font-semibold text-center text-gray-100 transition-shadow bg-green-300 rounded-lg hover:shadow-lg xl:text-xl"
          >Explore</a
        >
      </div>

      <div
        *ngIf="loading"
        class="min-w-[32rem] animate-pulse xl-min-h-[42rem] bg-green-300 aspect-video rounded-lg shadow-lg"
      ></div>
      <img
        *ngIf="currentImage"
        class="home__cover"
        [src]="currentImage.url"
        alt="Image on the cats on the poster"
      />
    </div>
  </section>
</div>
