<div class="h-screen-dinamic home--container">
  <section class="home">
    <div class="home__feed">
      <div class="w-full max-w-sm">
        <h1 class="home__title">The most awesone cast</h1>
        <p class="mb-8 xl:text-xl">Explore and know all breeds about cats</p>
        <a
          routerLink="/breeds"
          class="block max-w-xs px-4 py-3 mx-auto font-semibold text-center transition-shadow bg-green-300 rounded-lg hover:shadow-lg text-gray-100 xl:text-xl"
          >Explore</a
        >
      </div>
      <img
        class="home__cover"
        src="https://cdn2.thecatapi.com/images/BQMSld0A0.jpg"
        alt="Image on the cats on the poster"
      />
    </div>
  </section>
</div>
